# VuePress files
src/.vuepress/.temp/
src/.vuepress/.cache/

# Node modules
node_modules/

# MacOS Desktop Services Store
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

# TypeScript build info
*.tsbuildinfo

# Editor
.vscode/

# Output
public/